/* Colors */
$itinerumWhite: #fff;
$itinerumPrimaryBlue: #007AF2;
$itinerumSecondaryBlue: #A9CEF3;
$itinerumGreen: #01AA78;
$itinerumYellow: #FFE45C;
$itinerumRed: #FA6557;
$itinerumGray15: #262626;
$itinerumGray20: #333333;
$itinerumGray40: #666666;
$itinerumGray60: #999999;
$itinerumGray90: #E6E6E6;
$itinerumGray98: #FAFAFA;
$itinerumBlueGray: #FAFBFC;

$inputFocusOutline: #3898EC;

$loginSelectedText: #ffb7b7;
$loginEnteredTextBackground: #1f88ef;
$loginWarningText: #eda8a8;


// to deprecate
$buttonPrimaryHover: #0045AA;
$sidebarBg: #263238;
$shadow: 0 3px 6px rgba(0, 0, 0, 0.16);