@import 'examples/itinerum_tutorial/colors_v2';
@import 'examples/itinerum_tutorial/typography';

:local(.styles) {
    .tutorial-title {
        padding-bottom: 2em;
        color: $itinerumGray20;
    }

    .tutorial-row {
        padding-bottom: 1em;
        padding: 2em;
        background-color: white;
        box-shadow: $shadow;
        margin: 1em;
        display: flex;
        align-items: center;
        text-align: justify;
    }

    .help-icon {
        text-align: center;
        display: inline-block;
        vertical-align: middle;        

        & > i {
            color: $itinerumGray60;
            font-size: 5em;
        }
    }
}
